# Site
title:              Meghalaya Whitewater
bio:                'Rivers in the wettest place on earth'
description:        "Rivers in the wettest place on earth"
locale:             en_US
baseurl: "" # the subpath of your site, e.g. /blog
url: "" # the base hostname & protocol for your site

include: ['_pages']


defaults:
- scope:
    path: '/_pages'
    type: "pages"
  values:
    permalink: "/page/:title/"
    layout: "page"

- scope:
    path: '/_posts'
    type: pages
  values:
    permalink: "/blog/:title/"
    layout: post
    author:


# Jekyll

permalink:          /blog/:title/


markdown:           kramdown
highlighter:        rouge
kramdown:
  auto_ids:         true
  footnote_nr:      1
  entity_output:    as_char
  toc_levels:       1..6
  enable_coderay:   false
mathjax:            true
sass:
  sass_dir:         _sass
  style:            compressed

# Comments
disqus_shortname:   default

# Social
analytics-id:       "default"
twitter:            default
facebook:           default
instagram:          default
github:             default

# personal
location:           Los Angeles, CA
phone:              310-318-5555
email:              info@default.com

# Gems
gems:
  - jekyll-mentions
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-gist
  - jekyll-paginate

paginate: 6
paginate_path: "/blog/page:num/"

jekyll-mentions:
    base_url: https://github.com

# Exclude list
exclude: [README.md, Gemfile, Gemfile.lock, node_modules, gulpfile.js, package.json, _site, src, vendor, CNAME, LICENSE, Rakefile, old]
