<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/rivers/" | absolute_url }}">Rivers</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/guidebook/" | absolute_url }}">Guidebook</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/plan/" | absolute_url }}">Plan</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
</ul>
